*,*:before,*:after { 
  box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(12, 147, 55, 0.532);
}

a {
  color: rgb(77, 55, 203);
}

img {
  max-width: 144px;
}

p {
  font-size: 1.5rem;
}

ul {
  background-color: rgba(255, 221, 1, 0.285);
  margin-right: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.like_h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0.1em;
}

h1 {
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.important_link {
  font-size: 1.5rem;  
}