*,*:before,*:after { 
  box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(23, 67, 21, 0.992);
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.8);
}

a {
  color: rgb(108, 34, 148);
  text-decoration: none;
}

a:hover {
  letter-spacing: 0.44px;
  color: blueviolet;
}

.avatar {
  max-width: 122px;
}

.profile_links ul {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  box-shadow: 1mm 1mm 3mm 3px rgba(25, 73, 23, 0.492);
  border-radius: 14px;
  list-style: none;
  border: 1px solid rgb(238, 245, 48);
  max-width: 400px;
}

.hello {
  text-align: center;
  margin: auto;
}

.hello p {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0em;
}

.hello h1 {
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.important_link {
  font-weight: 600;
}

.important_link ul {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 5px;
  padding-bottom: 10px;
  box-shadow: 1mm 1mm 3mm 3px rgba(25, 73, 23, 0.492);
  border-radius: 14px;
  list-style: none;
  max-width: 400px;
  border: 1px solid rgb(238, 245, 48);
}

.container {
  max-width: 900px;
  margin: auto;
  background-color: rgb(203, 250, 186);
  padding: 30px 100px;
  
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(23, 67, 21, 0.992);
  padding: 15px 20px 0;
  border-radius: 16px;
  box-shadow: 1mm 1mm 3mm 3px rgba(25, 73, 23, 0.492);
  border: 1px solid rgb(238, 245, 48);
  display: flex;
  max-width: 600px;
}

@media (max-width: 700px) {
  .header {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
}