@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav,footer,header,aside {display: block ;}

html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}

body {
    font-family: 'Poppins', system-ui, Georgia, Times, 'Times New Roman', sans-serif;
    color: rgba(23, 67, 21, 0.992);
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.8);
}

a {
  color: rgb(108, 34, 148);
  text-decoration: none;
}

a:hover {
  letter-spacing: 0.44px;
  color: blueviolet;
}

.avatar {
  max-width: 144px;
  margin-top: 15px;
}

.profile_links ul {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  padding: 12px 15px 8px;
  font-size: 1.3rem;
  box-shadow: 1mm 1mm 3mm 3px rgba(25, 73, 23, 0.492);
  border-radius: 14px;
  list-style: none;
  border: 1px solid rgb(238, 245, 48);
  max-width: 400px;
  margin-bottom: 15px;
}

.profile_links li {
  margin-bottom: 5px;
}

.hello {
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hello > .big_head {
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0em;
}

.hello p {
  margin-top: 0em;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.hello h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 15px;
}

.important_link {
  font-weight: 600;
}

.important_link {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 15px 10px;
  box-shadow: 1mm 1mm 3mm 3px rgba(25, 73, 23, 0.492);
  border-radius: 14px;
  list-style: none;
  max-width: 400px;
  border: 1px solid rgb(238, 245, 48);
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  background-color: rgb(203, 250, 186);
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0mm 0mm 15mm 3px rgb(25 73 23 / 49%);
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(23, 67, 21, 0.992);
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 16px;
  box-shadow: 1mm 1mm 3mm 3px rgba(25, 73, 23, 0.492);
  border: 1px solid rgb(238, 245, 48);
  display: flex;
  max-width: 100%;
}

.italic {
  font-style: italic;
  border-bottom: 1px solid rgba(23, 67, 21, 0.282);
}

@media (max-width: 700px) {
  .header {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}