*,*:before,*:after { 
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(71, 224, 140, 0.349);
}

a {
  color: rgb(115, 0, 255);
}

img {
  max-width: 444px;
}

p {
  font-size: 1.5rem;
}

ul {
  background-color: rgba(255, 221, 1, 0.285);
  margin-right: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.like_h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0.1em;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.important_link {
  font-size: 2rem;
}